<div id="<%= dom_id car %>">
  <p>
    <strong>Car brand:</strong>
    <%= car.car_brand %>
  </p>

  <p>
    <strong>Class Model:</strong>
    <%= car.class_modle %>
  </p>

  <p>
    <strong>Class Type:</strong>
    <%= car.class_type %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= car.vin %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= car.mileage %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= car.cost %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= car.day3 %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= car.day5 %>
  </p>

</div>
